@model List<ResultProductDto>

<div class="container-fluid pt-5 pb-3">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Öne Çıkan Ürünler</span></h2>
    <div class="row px-xl-5">

        @{ 
            int prodCount = 0;
            string[] productFallbacks = { "laptop.jpg", "jumper.jpg", "soap.jpg", "detergant.jpg", "toothpaste.jpg" };
        }
        @foreach (var item in Model)
        { 
            var fallbackImage = $"/images/featureproductimages/{productFallbacks[prodCount % productFallbacks.Length]}";
            prodCount++;
            var currentImage = string.IsNullOrEmpty(item.ProductImageUrl) ? fallbackImage : item.ProductImageUrl;
            decimal x = ((item.ProductPrice / 100) * 15) + item.ProductPrice;
                                    
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <div class="product-item bg-light mb-4">
                    <div class="product-img position-relative overflow-hidden" style="cursor: pointer;" onclick="window.location.href='/ProductList/ProductDetail/@item.ProductId'">
                        <img referrerpolicy="no-referrer" class="img-fluid w-100" src="@currentImage" alt="">
                        <div class="product-action">
                            <button class="btn btn-outline-dark btn-square product-favorite-btn favorite-btn-@item.ProductId" data-product-id="@item.ProductId" onclick="event.preventDefault(); event.stopPropagation(); toggleFavorite('@item.ProductId')"><i class="far fa-heart"></i></button>
                        </div>
                    </div>
                    <div class="text-center py-4">
                        <a class="h6 text-decoration-none text-truncate" href="/ProductList/ProductDetail/@item.ProductId">@item.ProductName</a>
                        <div class="d-flex align-items-center justify-content-center mt-2">
                            <h5>@item.ProductPrice ₺</h5><h6 class="text-muted ml-2"><del>@x ₺</del></h6>
                        </div>
                        <div class="d-flex align-items-center justify-content-center mb-1">
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small>(25)</small>
                        </div>
                    </div>
                </div>
            </div>
        }


    </div>
</div>
